# =========================================
# PYTHON
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# VIRTUAL ENV
# =========================================

venv/
env/
ENV/

# =========================================
# JUPYTER
# =========================================

.ipynb_checkpoints/

# =========================================
# FLASK
# =========================================

instance/
.webassets-cache/

# =========================================
# VS CODE
# =========================================

.vscode/

# =========================================
# PYCHARM
# =========================================

.idea/

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# GENERATED OUTPUTS
# =========================================

static/uploads/*
static/outputs/*
static/graphs/*

!static/uploads/.gitkeep
!static/outputs/.gitkeep
!static/graphs/.gitkeep

# =========================================
# LOG FILES
# =========================================

*.log

# =========================================
# REMOVE PROCESSED DATASET
# =========================================

processed_dataset/
raw_dataset/

# =========================================
# REMOVE MODEL FILES
# =========================================

saved_models/
*.pth

# =========================================
# CACHE
# =========================================

.cache/
torch_cache/

# =========================================
# TEMP FILES
# =========================================

temp/
tmp/

# =========================================
# ENV FILE
# =========================================

.env

saved_models/
*.pth
processed_dataset/